<!-- Footer -->
<footer class="bg-white border-t border-gray-200 mt-auto">
    <div class="mx-auto max-w-[95%] px-2 py-4 sm:px-3 lg:px-4">
        <div class="flex justify-between items-center">
            <div>
                <p class="text-sm text-gray-500">&copy; {% now "Y" %} <a target="_blank" href="https://deadfrogstudios.com" class="text-blue-500">DeadFrogStudios</a> - Powered by<a target="_blank" href="https://www.djangoproject.com/" class="text-blue-500"> Django</a></p>
            </div>
            <div>
                <p class="text-sm text-gray-500">Coded by Jason van Lint</p>
            </div>
        </div>
    </div>
</footer> 